/* Style Modales */

#modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

#modal1,
#modal2 {
  position: absolute;
  width: 630px;
  height: 688px;
  /* padding: 25px; */
  display: flex;
  flex-direction: column;
  background: white;
  align-items: center;
  border-radius: 10px;
  box-sizing: border-box;
}

.modal-nav {
  display: flex;
  font-size: 16px;
}

.modal-nav .close-modal {
  border: none;
  background-color: rgba(255, 255, 255, 1);
  font-size: 16px;
  position: absolute;
  top: 25px;
  right: 25px;
  width: 24px;
  cursor: pointer;
}

.modal-nav .previous-modal {
  border: none;
  background-color: rgba(255, 255, 255, 1);
  font-size: 16px;
  position: absolute;
  top: 25px;
  left: 25px;
  width: 24px;
  cursor: pointer;
}

#modal1 h2,
#modal2 h2 {
  font-size: 26px;
  font-weight: 400;
  font-family: "work sans";
  color: black;
  text-align: center;
  margin: 50px auto 20px;
}

.modal-gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 30px;
  column-gap: 10px;
  margin: 30px auto;
}

.modal-gallery figure {
  position: relative;
}

.modal-image {
  object-fit: cover;
  height: 102px;
  width: 76px;
}

.delete-container {
  position: absolute;
  top: 5px;
  right: 5px;
  background: black;
  border-radius: 2px;
  width: 17px;
  height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.delete-icon {
  color: white;
  font-size: 10px;
}

.modal-separator {
  margin: 35px auto 40px;
  border-bottom: 1px solid #b3b3b3;
  width: 420px;
}

#btn-modal2 {
  width: 237px;
  height: 36px;
  font-size: 14px;
  cursor: pointer;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.picture-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  width: 420px;
  height: 169px;
  background: #e8f1f6;
  border-radius: 3px;
  margin: 25px auto 20px;
}

.picture-input img {
  max-width: 100%;
  max-height: 100%;
}

.picture-input i {
  color: #b9c5cc;
}

.picture-input label {
  border-radius: 50px;
  border: 1px solid #e8f1f6;
  background: #cbd6dc;
  color: #306685;
  font-family: "work sans";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 173px;
  height: 36px;
  box-sizing: border-box;
  cursor: pointer;
}

.picture-input p {
  font-size: 10px;
  color: #444444;
}

input[type="file"] {
  display: none;
}

.modal-form-bloc {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  margin: 15px 0;
  gap: 10px;
}

.modal-form-bloc input,
.modal-form-bloc select {
  width: 100%;
  box-sizing: border-box;
  height: 51px;
  border: none;
  box-shadow: 0px 4px 14px 0px #00000017;
  padding: 0 15px;
}

.modal-form-bloc select {
  color: #6c6c6c;
}

.modal-form-submit {
  width: 237px;
  height: 36px;
  box-sizing: border-box;
  border: none;
  border-radius: 60px;
  font-family: "syne";
  font-weight: 700;
  color: white;
  background: #1d6154;
  cursor: pointer;
}

.unactive {
  background: #a7a7a7;
}

.disabled {
  display: none;
  visibility: hidden;
}
